.container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-check {
  margin-bottom: 4px;
}
button {
  margin-top: 20px;
  text-align: center;
  width: 200px;
  margin-left: 20px;
}
